<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackgroup.rustik">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rustik">
        <activity
            android:name=".RecuperarClave"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".GraficasVentas"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".ClienteGraficos"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".GraficasInventario"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".CalificarExperiencia"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".VentasAdmin"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".ClientesAdmin"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".RegistrarseUsuario"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".VerificacionIncorrecta"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".VerificacionCorrecta"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Inventario"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MenuAdmin"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".IngresAdmin"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Cupon"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".NuevaExperiencia"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MenuClientes"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".IniciarSesion"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>